/*全局*/
* {
	margin:0;
	padding:0;
}

a {
	text-decoration:none;
	color:#fff;
}

html {
	font-family:'微软雅黑';
	font-size:12px;
	color:#fff;
}

/*全局结束*/

/*header部分*/
#header {
	width:100%;
	height:90px;
	background-color:#3c404b;
}

.header-wrapper {
	width:70%;
	margin:0 auto;
	overflow:hidden;
}

.logo {
	float:left;
	padding:36px 0;
}

.clearfix:after {
	visibility: hidden;
	content:"";
	display:block;
	font-size:0;
	clear:both;
	height:0;
}

#header ul {
	float:right;
	width: auto;
}

#header ul li {
	float:left;
	list-style: none;
	display:block;
	height:87px;
	line-height:90px;
	margin-right:43px;
}

#header ul li:hover {
	color:#00e284;
	border-bottom:3px solid #00e284;
}

#header ul li:last-child {
	margin-right:47px;
}

#header ul li a {
	font-size:13px;
	display:block;
}

#header ul li a:hover {
	color:#00e284;
}


.icon-group {
	float:right;
	height:90px;
	line-height:100px;
}

.icon-group img {
	margin-right:20px;
}
.icon-group img:last-child {
	margin-right:0;
}
/*header部分结束*/

/*banner部分*/
#banner {
	background: url("images/bg-img.jpg") no-repeat;
	background-size:cover;
	width:100%;
	height:600px;
}

.banner-heading {
	display: block;
    margin: 0 auto;
    padding-top: 175px;
}

#banner h3 {
	color:#fff;
	font-size:32px;
	display:block;
	font-weight:100;
	text-align: center;
	margin:43px auto 0 auto;
	border-top: 1px solid #f8f8f8;
	padding-top:8px;
	width:411px;
}

#banner span {
	font-size:10px;
	color:#fff;
	border-bottom:1px solid #f8f8f8;
	width: 411px;
	margin: 0 auto;
    display: inherit;
    text-align: center;
    padding-bottom:16px;
}
#view-more {
	width:142px;
	height:32px;
	color:#fff;
	border:2px solid #fff;
	background-color:transparent;
	font-size:15px;
	margin: 84px auto 0 auto;
	display:inherit;
	font-weight:100;
}

#next-btn {
	display:inherit;
	margin:72px auto;

}

/*banner部分结束*/

/*内容部分*/
.col-3 {
	overflow:hidden;
	position:relative;
}

.col-1 {
	width:33.33%;
	width:-moz-calc(100% / 3);
    width:-webkit-calc(100% / 3);
    width:calc(100% / 3);
	float:left;
}

.green {
	background-color:#0dbd74;
	height:474px;
}
/*.green:after {
	content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 190px;
    left: 33.33%;
    border: 20px solid transparent;
    border-left: 20px solid #0dbd74;
}
*/
.purple {
	background-color:#862ad6;
	height:474px;
}

/*.purple:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 435px;
    border: 20px solid transparent;
    border-top: 20px solid #0dbd74;
}*/

.white {
	background-color: #f0f0f0;
	height:474px;
}

.red {
	background-color:#f0284e;
	height:474px;
}

.img-center {
	display:block;
	margin: 25% auto 0 auto;
}

.img-quote {
	margin:20% auto 0 auto;
} 

.col-1 span {
	color:#fff;
	font-size:21px;
	display:block;
	text-align: center;
	margin-top:12px;
}

.col-1 hr {
	width:174px;
	height:0px;
	border:0px;
	border-top:1px solid #fff;
	color:#fff;
	background-color:#fff;
	margin:12px auto;
}

.desc-text {
	font-size:9px;
	color:#fff;
	text-align: center;
	width: 49%;
    margin: 0 auto;
    word-break: break-word;
    line-height: 1.7;
}

.desc-text-large {
    font-size: 13px;
    color: #969696;
    text-align: left;
    margin: 20px auto 0 auto;
    width: 66%;
    line-height:1.8;
}
/*内容部分结束*/

/*副banner*/
.sub-banner {
	background: url("images/sub-banner.png") no-repeat;
	background-size:cover;
	width:100%;
	height:446px;
	border-bottom:2px solid #fff;
}

.sub-banner-content {
	padding:10%;
	width:43%;
	line-height:2.5;
	}

.sub-banner-content h2 {
	font-size: 20px;
}

.sub-banner-content section {
	font-size:12px;
}
/*副banner结束*/

/*footer*/
#footer {
	clear:both;
	width:100%;
	background-color:#3c404b;
}
#footer span {
	text-align: center;
	display: inherit;
	font-size:13px;
	color:grey;
	padding:1.42%;
}
/*footer结束*/